# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.env/
venv/
ENV/
env/
.venv/
.Python

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Django static and media files
media/

# Django migration files
**/migrations/
!**/migrations/__init__.py

# SQLite database
*.sqlite3

# Secrets
*.env
.env.*

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.pytest_cache/
.tox/
.cache/
*.log

# Local dev tools
*.DS_Store
Thumbs.db

# System files
ehthumbs.db
Icon?
Desktop.ini
